<div class="row">
    <div class="col-md-6">
        <a href="{{ url_for('user', username=post.author.username) }}">
            {{ post.author.username }}
        </a>
         said {{ moment(post.timestamp).fromNow() }}: {{ post.body }}
    </div>
    <div class="col-md-2 ml-2">
        {% if post.author == current_user %}
            <a href="{{ url_for('delete_comment', id=post.id) }}">
                <i class="fa fa-trash"></i> Delete 
            </a>
        {% endif %}
    </div>
</div>
