
<!DOCTYPE html>
<html lang="en">

<head>
    <title>      
    {% block title %}
        {% if title %}{{ title }} - MSI{% else %}MSI Inventory{% endif %}
    {% endblock %}
    </title> 

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="">
    <meta name="author" content="Codedthemes" />
    <!-- Favicon icon -->
    <!-- <link rel="icon" href="/static/assets/images/favicon.ico" type="image/x-icon"> -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script> -->
    <!-- vendor css -->
    <link rel="stylesheet" href="/static/assets/css/style.css">
    {% if request.path == '/' %}
        <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
    {% endif %}



</head>
<body class="">

	<!-- [ Pre-loader ] start -->
    <!-- [ Pre-loader ] End -->
  
    {% include 'sidebar.html' %}
    {% include 'navigation.html' %}

    {% block content %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    {% endblock %}


    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

</body>
</html>

{% block scripts %}

<script>
    // bar chart data
    var barData = {
      labels : [
        {% for item in labels_1 %}
         "{{ item }}",
        {% endfor %}
        ],

      datasets : [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        data : [
          {% for item in values_1 %}
             "{{ item }}",
            {% endfor %}
      ]
        }
      ]
    }

    
   // get bar chart canvas
   var mychart = document.getElementById("chart_1").getContext("2d");

     steps = 10
     max = {{max_count_1}}

   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
        }
    );


    var barData_2 = {
      labels : [
        {% for item in labels_2 %}
         "{{ item }}",
        {% endfor %}
        ],

      datasets : [{
        fillColor: "rgba(151,187,205,0.2)",
        strokeColor: "rgba(151,187,205,1)",
        pointColor: "rgba(151,187,205,1)",
        data : [
          {% for item in values_2 %}
             "{{ item }}",
            {% endfor %}
      ]
        }
      ]
    }



   var mychart = document.getElementById("chart_2").getContext("2d");

    steps = 10
    max = {{max_count_2}}

    // draw bar chart
    new Chart(mychart).Bar(barData_2, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
        }
    );

  </script>

{% endblock %}