{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block title %}Metrics{% endblock %}

{% block app_content %}
<div class="pcoded-main-container pt-10">
    <div class="pcoded-content">   
        <!-- [ Main Content ] start -->
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <h5>Metrics</h5>
                        <div class="card-header-right">
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="col-md-12">
                            <br/>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-info" role="alert">{{ message }}</div>
                                {% endfor %}
                            {% endif %}
                            {% endwith %}
                            <br/>
                            {% if metrics %}
                            <hr class="intro-divider">
                            <div class="center">
                                <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                    <th width="15%"> Service Name </th>
                                    <th width="12%"> Service Element Name </th>
                                    <th width="12%"> Service Provider Steward 1 </th>
                                    <th width="10%"> Metric Name </th>
                                    <th width="10%"> Threshold target </th>
                                    <th width="10%"> Threshold direction </th>
                                    <th width="10%"> Threshold trigger </th>
                                    <th width="10%"> Threshold trigger direction</th>
                                    <th width="10%"> Metric Owner Primary</th>
                                    <th width="5%"> Edit</th>
                                    <th width="8%"> Delete</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for metric in metrics %}
                                    <tr>
                                    <td> {{ metric.service_name }} </td>
                                    <td> {{ metric.service_element_name }} </td>
                                    <td> {{ metric.service_provider_steward_1 }} </td>
                                    <td> {{ metric.metric_name }} </td>
                                    <td> {{ metric.threshold_target }} </td>
                                    <td> {{ metric.threshold_target_direction }} </td>
                                    <td> {{ metric.threshold_trigger }} </td>
                                    <td> {{ metric.threshold_trigger_direction }} </td>
                                    <td> {{ metric.metric_owner_primary }} </td>
                                    <td>
                                        <a href="{{ url_for('edit_metric', id=metric.id) }}">
                                        <i class="fa fa-pencil"></i> Edit 
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ url_for('delete_metric', id=metric.id) }}">
                                        <i class="fa fa-trash"></i> Delete 
                                        </a>
                                    </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                                </table>
                            </div>
                            <div style="text-align: left">
                            {% else %}
                            <div style="text-align: left">
                                <h3> No Metrics have been added. </h3>
                                <hr class="intro-divider">
                            {% endif %}
                            <a href="{{ url_for('add_metric') }}" class="btn btn-default btn-sm">
                                <i class="fa fa-plus"></i>
                                Add Metric
                            </a>
                        </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>  

{% endblock %}