
	<!-- [ navigation menu ] start -->
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper  ">
			<div class="navbar-content scroll-div " >
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>Services</label>
					</li>
					<li class="nav-item">
                        <a target="_blank" rel="noopener" 
                           href="#" class="nav-link ">
                            <span class="pcoded-micon">
                                <i class="feather icon-layers"></i></span><span class="pcoded-mtext">All services</span></a>
					</li>
					<li class="nav-item">
							<a href="#">
                            <span class="pcoded-micon">
                                <i class="feather icon-layers"></i></span><span class="pcoded-mtext">My services</span></a>
					</li>
					<li class="nav-item pcoded-hasmenu">
					    <a href="#!" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layers"></i></span><span class="pcoded-mtext">Other services</span></a>
					    <ul class="pcoded-submenu">
					        <li><a href="/layout-vertical.html" target="_blank">Vertical</a></li>
					        <li><a href="/layout-horizontal.html" target="_blank">Horizontal</a></li>
					    </ul>
					</li>
					<li class="nav-item pcoded-menu-caption">
						<label>Metrics</label>
					</li>
					<li class="nav-item">
						<a href="{{ url_for('list_metrics') }}" class="nav-link ">
                        <span class="pcoded-micon">
                            <i class="feather icon-layout"></i></span><span class="pcoded-mtext">All metrics</span></a>
					</li>
					<li class="nav-item">
							<a href="{{ url_for('own_metrics', username=current_user.username) }}">
                            <span class="pcoded-micon">
                                <i class="feather icon-layout"></i></span><span class="pcoded-mtext">My metrics</span></a>
					</li>

				</ul>
				
				
			</div>
		</div>
	</nav>
    <!-- [ navigation menu ] end -->
